# Espelho dos valores em docker-compose.stack.yml (para docker compose --env-file .env.stack na CLI).
# No Portainer com o YAML actual, não é obrigatório: tudo já está no compose.

INSTALLATION_NAME=Chatwoot
NODE_ENV=production
RAILS_ENV=production
INSTALLATION_ENV=docker
SECRET_KEY_BASE=O9j4yD2QLf2Ea0kLTxLymtojVvefem9oCigtCo3YK0N0xeMRP0Skcbwi7yOO
FRONTEND_URL=https://chat.penhacontabilidade.com.br
DEFAULT_LOCALE=pt_BR
FORCE_SSL=enable
ENABLE_ACCOUNT_SIGNUP=true
REDIS_URL=redis://redis:6379
POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=Mfcd62!!Mfcd62!!
POSTGRES_DB=chatwoot
POSTGRES_DATABASE=chatwoot
POSTGRES_USER=postgres
ACTIVE_STORAGE_SERVICE=local
RAILS_LOG_TO_STDOUT=true
USE_INBOX_AVATAR_FOR_BOT=true
SIDEKIQ_CONCURRENCY=10
RACK_TIMEOUT_SERVICE_TIMEOUT=0
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=2
ENABLE_RACK_ATTACK=false
WEBHOOKS_TRIGGER_TIMEOUT=40
MAILER_SENDER_EMAIL=chat@penhacontabilidade.com.br
SMTP_ADDRESS=mail.penhacontabilidade.com.br
SMTP_PORT=465
SMTP_USERNAME=chat@penhacontabilidade.com.br
SMTP_PASSWORD=penha@7623
SMTP_AUTHENTICATION=login
SMTP_DOMAIN=penhacontabilidade.com.br
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_TLS=true
